@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html{
    font-size: 16px;   
}
html,body{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
}
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color:#eef5ff;
    display: grid;
    place-items: center;
}
main{
    width: 95%;
    margin: 0 auto;
    max-width: 1050px;
    border-radius: 15px;
    padding: 15px;
    background-color:white;
    min-height:600px;
    display: flex;
}
.sidebar{
    box-sizing: border-box;
    min-width: 275px;
    padding: 35px 25px;
    border-radius: 9px;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.step *{
    color: white;
}
.step{
    margin-bottom:35px;
    display: flex;
    gap: 0px 25px;
}
span.number{
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px 12px;
}
.step.active span.number{
    color: hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
    border-color: hsl(206, 94%, 87%);
    transition: all .25s ease-in-out;
}
.step_info{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.step_num{
    font-weight: 400;
    opacity: .65;
    font-size: .75rem;
}
.step_title{
    font-weight: 500;
    text-transform:uppercase;
    letter-spacing: 1px;
}
.content{
    flex-grow:1;
    padding: 25px 115px;
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
}
button{
    font-weight: 500;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: hsl(231, 11%, 63%);
    transition: all .15s ease-in-out;
}
button:hover{
    color: hsl(213, 96%, 18%);
}
.primary{
    color: white !important;
    border-radius: 9px;
    padding:15px 20px;
}
.primary.next{
    background-color: hsl(213, 96%, 18%);
}
.primary.confirm{
    background-color: hsl(243, 100%, 62%);
}
.primary:hover{
    background-color: hsl(228, 100%, 84%);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.confirmation{
    text-align: center;
}
.main-step .title,.confirmation .title{
    color: hsl(213, 96%, 18%);
    margin-block-end:.5rem;
}
.main-step .title + p,.confirmation .title + p{
    color: hsl(231, 11%, 63%);
    margin-block: 0 2rem;
}
.confirmation p{
    margin-top: 15px !important;
    line-height: 1.35rem;
}
.main-step.active{
    display: initial;
}
.main-step{
    display: none;
}
.inputField{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputField label{
    color: hsl(213, 96%, 18%);
}
.inputField input{
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 9px;
    outline: none;
    border: 1px solid hsl(229, 24%, 87%);
    padding: 15px;
    margin: 7px 0;
    color: hsl(213, 96%, 18%);
}
.inputField input:focus{
    border-color: hsl(243, 100%, 62%);
}
.inputField input::placeholder{
    color: hsl(231, 11%, 63%);
}
.inputErr{
    color:hsl(354, 84%, 57%);
    font-weight: 700;
    visibility: hidden;
}
.inputField.error .inputErr{
    visibility: visible;
}
.inputField.error input{
    border-color: hsl(354, 84%, 57%);
}
.plans{
    display: flex;
    justify-content: space-between;
    gap: 15px 20px;
}
.plan{
    padding: 20px 15px 15px;
    border-radius: 9px;
    flex-grow: 1;
    min-width: 33%;
    border: 1px solid hsl(229, 24%, 87%);
    cursor: pointer;
    transition: border .25s ease-in-out;
}
.plan:hover,.plan.active{
    border-color: hsl(243, 100%, 62%);
}
.plan.active{
    background-color:hsl(217, 100%, 97%);
}
.plan-title{
    color: hsl(213, 96%, 18%);
    margin-block:45px 0;
    font-size: 1.1rem;
    font-weight: 500;
}
.plan-price{
    color: hsl(231, 11%, 63%);
    margin-block: 7px;
    font-size: .95rem;
}
.plan-price+span{
    font-size: .9rem;
    color: hsl(213, 96%, 18%);
    font-weight:500;
    display: none;
}
.plan-price.yearly+span{
    display: initial;
}
.billing-toggle input[type="checkbox"]{
    display:none;
}
.billing-toggle label{
    cursor: pointer;
    position: relative;
    font-weight: 500;
    color: hsl(231, 11%, 63%);
}
.billing-toggle label.active{
    color: hsl(213, 96%, 18%);
}
.billing-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: hsl(217, 100%, 97%);
    margin-top: 30px;
    padding: 15px;
    border-radius: 7px;
}
.billing-toggle span{
    display:block;
    background-color: hsl(213, 96%, 18%);
    width:40px;
    height:20px;
    padding: 5px 3px;
    border-radius:10px;
    position: relative;
}
.billing-toggle span::after{
    content: "";
    display: block;
    position: relative;
    top: -1px;
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: white;
    transition: all .25s ease-in-out;
    transform: translateX(0);
}
.billing-toggle input:checked~span::after{
    transform: translateX(22px);
}
.add-on{
    display: block;
    padding: 20px 25px;
    border-radius: 9px;
    border: 1px solid hsl(229, 24%, 87%);
    display: flex;
    gap: 0 25px;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}
.add-on:has(input:checked){
    background-color:hsl(217, 100%, 97%);
    border-color: hsl(243, 100%, 62%);
}
.add-on-info{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.add-on-title{
    font-size: 1.15rem;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}
.add-on-desc{
    color: hsl(231, 11%, 63%);
    font-size:.95rem;
}
.add-on-price{
    margin-left: auto;
}
.add-on input{
    display: none;
}
.add-on input+span{
    display: grid;
    place-items: center;
    border-radius: 4px;
    border: 1px solid hsl(229, 24%, 87%);
    width:23px;
    height:23px;
    position: relative;
    transition: background .1s ease-in-out;
}
.add-on input+span::after{
    content: "";
    position: relative;
    top: -1px;
    width:4px;
    height:9px;
    border: 2px solid white;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}
.add-on input:checked+span{
    background-color: hsl(243, 100%, 62%);
}
.add-on-price{
    color: hsl(243, 100%, 62%);
    font-weight: 500;   
}
.plan-details{
    background-color: hsl(217, 100%, 97%);
    border-radius: 7px;
    padding: 15px 25px 25px;
}
.plan-details h3{
    margin-block: 10px;
    font-size: 1.1rem;
    color:  hsl(213, 96%, 18%);
}
.plan-details .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid hsla(229, 24%, 87%, 0.562);
}
.header h3:first-of-type{
    margin-block-end:7px;
}
.header .change{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: hsl(231, 11%, 63%);
}
.addOns{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.addOn{
    display: flex;
    justify-content: space-between;
    font-size: .95rem;
}
.addOn-title{
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}
.addOn-price{
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.addOn.total{
    width: 90%;
    margin: 25px auto;
}
.addOn.total .addOn-price{
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(243, 100%, 62%);
}
.hidden{
    display: none;
}
.hiddenElems{
    visibility: hidden;
}
@media screen and (max-width:965px) {
    .sidebar{
        min-width:unset;
        width: 230px;
        padding: 35px 15px;
    }
    .step{
        align-items: center;
    }
    .content{
        padding: 25px 35px;
    }
    .plan{
        min-width:unset;
        max-width: 33%;
    }
}
@media screen and (max-width:700px) {
    html{
        font-size: 14px;
    }
    main{
        width:100%;
        height: 100%;
        min-height: 100vh;
        border-radius: 0;
        flex-direction: column;
        padding: 0;
        background: #eef5ff;
    }
    .content{
        padding: 0;
    }
    .main-section,.confirmation{
        padding: 0px 20px;
        background-color: white;
        position: relative;
        top: -70px;
        width: 90%;
        border-radius: 9px;
        margin: 0 auto;
    }
    .confirmation{
        min-height:350px;
        position: absolute;
        top:100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .confirmation p{
        line-height:1.75rem;
    }
    .confirmation.hidden{
        display: none;
    }
    .confirmation img{
        width:50px;
        height: auto;
    }
    .footer{
        margin-top: auto;
        background: white;
        width: 100%;
        padding:15px 15px;
    }
    .sidebar{
        width: 100%;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        height:175px;
        border-radius: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .step_info{
        display: none;
    }
    .step{
        display: initial;
        margin-top: 15px;
    }
    .plans{
        flex-direction: column;
        gap: 15px 20px;
    }
    .plan{
        width:unset;
        max-width: unset;
        display: flex;
        align-items: center;
    }
    .plan div{
        margin: 0 15px;
    }
    .plan h2{
        margin-block:0 !important;
    }
    .billing-toggle{
        margin: 35px auto 25px;
    }
    .add-on input+span{
        min-width: 23px;
        min-height: 23px;
    }
}