@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html{
    font-size: 16px;   
}
html,body{
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
}
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color:#eef5ff;
    display: grid;
    place-items: center;
}
main{
    width: 95%;
    margin: 0 auto;
    max-width: 1050px;
    border-radius: 15px;
    padding: 15px;
    background-color:white;
    min-height:600px;
    display: flex;
}
.sidebar{
    width:275px;
    padding: 35px 25px;
    border-radius: 9px;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.step *{
    color: white;
}
.step{
    margin-bottom:35px;
    display: flex;
    gap: 0px 25px;
}
span.number{
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid white;
    padding: 8px 12px;
}
.step.active span.number{
    color: hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
    border-color: hsl(206, 94%, 87%);
}
.step_info{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.step_num{
    font-weight: 400;
    opacity: .65;
    font-size: .75rem;
}
.step_title{
    font-weight: 500;
    text-transform:uppercase;
    letter-spacing: 1px;
}
.content{
    flex-grow: 1;
    padding: 25px 85px;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
button{
    font-weight: 500;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: hsl(231, 11%, 63%);
    transition: all .15s ease-in-out;
}
button:hover{
    color: hsl(213, 96%, 18%);
}
.primary{
    color: white !important;
    border-radius: 9px;
    padding:15px 20px;
}
.primary.next{
    background-color: hsl(213, 96%, 18%);
}
.primary.confirm{
    background-color: hsl(243, 100%, 62%);
}
.primary:hover{
    background-color: hsl(228, 100%, 84%);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.main-step .title{
    color: hsl(213, 96%, 18%);
    margin-block-end:.5rem;
}
.main-step .title + p{
    color: hsl(231, 11%, 63%);
    margin-block: 0 2rem;
}
.inputField{
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputField label{
    color: hsl(213, 96%, 18%);
}
.inputField input{
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 9px;
    outline: none;
    border: 1px solid hsl(229, 24%, 87%);
    padding: 15px;
    margin: 7px 0;
    color: hsl(213, 96%, 18%);
}
.inputField input:focus{
    border-color: hsl(243, 100%, 62%);
}
.inputField input::placeholder{
    color: hsl(231, 11%, 63%);
}
.inputErr{
    color:hsl(354, 84%, 57%);
    font-weight: 700;
    visibility: hidden;
}
.inputField.error .inputErr{
    visibility: visible;
}
.inputField.error input{
    border-color: hsl(354, 84%, 57%);
}